.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    row-gap: 16px;

}

@media screen and (min-width: 600px) {
    .container {

        display: grid;
        grid-template-columns: repeat(8, 1fr);
        column-gap: 16px;
        row-gap: 48px;
    }

}

@media screen and (min-width: 1240px) {
    .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 16px;
        row-gap: 96px;
        
    }
    

}


