

.logoAndHam {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoContainer {
    width: 214px;
}


.navMenu {
    visibility: hidden;
    opacity: 0;
    height: 0;
    padding: 0;
    transition: padding 0.3s ease-in-out 0.3s, visibility 0s, opacity 0.3s ease-in-out, height 0.3s ease-in-out 0.3s;
}

.mobileVisible {
    height: 50px;
    visibility: visible;
    opacity: 1;
    display: flex;
    gap: 8px;
    justify-content: center;
    padding: 16px 0;
    transition: padding 0.3s ease-in-out, visibility 0s ease-in-out 0.3s, opacity 0.7s ease-in-out 0.3s, height 0.3s ease-in-out;
}


.navMenu a {
    
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 0;
    border-radius: 10px;
    background: var(--white, #848CED);
    border: 1px solid var(--Primary, #4F5AD0);
    text-decoration: none;
    color: var(--Primary);
    font-size: 20px;
    font-family: "Fira Sans";
    font-weight: 600;
}

