/* Layout Grid - Start */

.container {
    grid-column: 1 / span 4;
}

@media only screen and (min-width: 600px) {
    .container {
        grid-column: 1 / span 8;
    }
}

@media screen and (min-width: 1240px) {
    .container {
        grid-column: 2 / span 10;
        max-width: 1500px;
        margin: 0 auto;
    }
}

/* Layout Grid - End */

.container {
    padding: 48px 8px;
}

.logoAndHam {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoContainer {
    width: 214px;
}


.navMenu {
    visibility: hidden;
    opacity: 0;
    height: 0;
    padding: 0;
    transition: padding 0.3s ease-in-out 0.3s, visibility 0s, opacity 0.3s ease-in-out, height 0.3s ease-in-out 0.3s;
}

.mobileVisible .active {
    background-color: var(--Primary);
    color: white;
}

.mobileVisible {
    height: 50px;
    visibility: visible;
    opacity: 1;
    display: flex;
    gap: 8px;
    justify-content: center;
    padding: 16px 0;
    transition: padding 0.3s ease-in-out, visibility 0s ease-in-out 0.3s, opacity 0.3s ease-in-out 0.3s, height 0.3s ease-in-out;
}


.navMenu a {
    
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 0;
    border-radius: 10px;
    background: var(--white, #848CED);
    border: 1px solid var(--Primary, #4F5AD0);
    text-decoration: none;
    color: var(--Primary);
    font-size: 20px;
    font-family: "Fira Sans";
    font-weight: 600;
}

.linkContainer {
    display: flex;
    justify-content: center;
    flex: 1;
}

.linkContainer a {
    display: flex;
    flex-direction: column;
}

.pencilContainer  {
    display:none;

}

@media only screen and (min-width: 700px) {
    

    
    .mobileVisible, .navMenu {
        transition: none;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .ham {
        display:none;
        height: 0;
    }

    .navMenu {
        visibility: visible;
        height: unset;
        opacity: 100;
        display: flex;
        gap: 32px;
        justify-content: flex-end;
    }

    .mobileVisible .active  {
        background: none;
        color: unset;
        height: unset;
        padding: unset;
    }

    .navMenu .linkContainer a{
        background: none;
        border: none;
        padding: 4px;
        font-weight: 300;
        font-size: 27px;
        border-radius: 0;
        color: var(--black);
    }

    .navMenu a:hover{
        color: var(--Primary);
        font-weight: 600;
    }

    .navMenu .linkContainer .active {
        color: var(--Primary);
        font-weight: 600;
        display:flex;
        flex-direction: column;
    }

    .navMenu .active .pencilContainer {
        opacity: 100;
        transition: opacity 0.3s ease-in-out,
    }
        
    

    .navMenu .active:hover {
        color: var(--Primary);
        cursor: default;
    }

    .linkContainer {
        flex: 0 120px;
        display:flex;
        align-items: center;
        justify-content: center;
    }

    .pencilContainer  {
        display:flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.3s ease-in-out,

    }


}

