/* Layout Grid - Start */

.container {
    grid-column: 1 / span 4;
}

@media only screen and (min-width: 600px) {
    .container {
        grid-column: 1 / span 8;
    }
}

@media screen and (min-width: 1240px) {
    .container {
        grid-column: 2 / span 10;
    }
}

/* Layout Grid - End */


.container {
    display: flex;
    flex-direction: column;

}



.tileGrid{
    display: flex;
    flex-direction: column;
    
    gap: 8px;
    border-radius: 9px;
}

@media only screen and (min-width: 600px) {
    .tileGrid {
        flex-direction: row;
        column-gap: 64px;
        row-gap: 32px;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
       
    }
    .tileGrid > * {
        flex: 1;
    } 

    .tileContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tileContainer > * {
        flex: 0 1 300px;
    }
}

@media only screen and (min-width: 1240px) {

    .tileGrid {
        column-gap: 128px;
        row-gap: 32px;
    }
    
}

/* @media only screen and (min-width: 1600px) {
    .tileGrid > * {
        flex: 0 1 400px;
    } 
}

@media only screen and (min-width: 1900px) {
    .tileGrid > * {
        flex: 0 1 500px;
    } 
}

@media only screen and (min-width: 2100px) {
    .tileGrid > * {
        flex: 0 1 700px;
    } 
} */