

.container {
    background-color: var(--white);
    display: flex;
    border-radius: 9px;
    /* box-shadow: 5px 5px 10px 4px rgba(26, 26, 48, 0.40); */
    /* background: linear-gradient(to bottom right, var(--white), #ffffff00, var(--Light), #ffffff00, var(--Light), #ffffff00, var(--white)); */
}   


.decoration {
    /* background-color: var(--Primary); */
    border-radius: 9px 0 0 9px;
    flex: 0 0 20px;
}

.content {
    display: flex;
    flex-direction: row;
}

.imgContainer { 
    flex: 0 1 160px;

    align-self: center;

}

.textColumn {
    font-size: 27px;
    display: flex;
    justify-content: center;
    padding: 8px;
    flex-direction: column;
    flex-grow: 1;
}

.arrowContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-self: flex-end;
    width: 100%;
    padding: 8px;
    margin-top: auto;
}

.textContainer {
    margin-top: 24px;
    display: flex;
    flex-grow: 1;
    align-items: center;
}

@media (hover: hover) {

    .container:hover{
        scale: 1.02;
    }
    

    
}





@media only screen and (min-width: 600px) {

    .content {
        flex-direction: column;

    }
    .imgContainer {
        /* width: 100%;
        flex: 0 1 0px; */
    }

    .textColumn {
        align-items: center;
    }

    .textContainer {
        margin-top: 0px;
        text-align: center;
    }


}

@media screen and (min-width: 1240px) {
    .imgContainer {
        /* padding: 32px 64px 0;
        flex: 0 1 0px; */
    }

    .textContainer {
        font-size: 36px;
    }
}