/* Layout Grid - Start */

.container {
    grid-column: 1 / span 4;
}

@media only screen and (min-width: 600px) {
    .container {
        grid-column: 1 / span 8;
    }
}

@media screen and (min-width: 1240px) {
    .container {
        grid-column: 1 / span 12;
    }
}

/* Layout Grid - End */

/* Component Grid - Start */
@media only screen and (min-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
    }

    .content {
        grid-column: 1 / span 8;
        max-width: 800px;
        margin: 0 auto;
    }

}

@media screen and (min-width: 1240px) {
    .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    .content {
        grid-column: 2 / span 10;

    }
}

/* Component Grid - End */


.content{
    padding: 16px 32px;
}
.content h2 {
    margin-top: 32px;
    padding-top: 16px;
    background-image: url('./headerPencil.svg');
    background-repeat: no-repeat;
}

.content h3 {
    color: var(--Primary);
    font-weight: 600;
}

